body {
    background: #E1E1E1 !important;
    margin: 0 !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem !important;
    font-family: inherit !important;
    line-height: 1.2 !important;
    color: #005000 !important;
}

.site-branding {
    display: none;
}

.site-navigation {
    background: #35892E;
    background-image: linear-gradient(180deg,#005000,#339933);
}

.site-navigation.navbar-light .navbar-nav .nav-link {
    outline: 0;
    font-weight: 700;
    text-transform: uppercase;
    color: rgba(255,255,255,.8) !important;
}

.site-navigation.navbar-light .navbar-nav .nav-link:hover,
.site-navigation.navbar-light .navbar-nav .nav-link:focus {
    color: #000 !important;
}

button.navbar-toggler:hover {
    outline: 0;
    border-color: #ccc #bbb #aaa;
}

button.navbar-toggler:active,
button.navbar-toggler:focus {
    outline: 0;
    border-color: #aaa #bbb #bbb;
}

#primary-menu {
    margin-left: 0;
}

.navbar-brand img {
    max-width: 90px;
}

.footer {
    background-image: linear-gradient(180deg,#339933,#005000);
}

.site-info {
    color: #ddd;
}

.card-title {
    color: #005000;
}

.dropdown-item {
    color: #212529 !important;
}

.jat-header {
    font-weight: 700;
    text-align: center;
}

.jat-page {
    background: #f4f4f4 !important;
}

.jat-page .entry-header,
.jat-contact .entry-header{
    display: none;
}

.jat-page .entry-content,
.jat-contact .entry-content {
    margin: 0;
}

.jat-page .timeline ul,
.jat-contact .timeline ul {
    margin: 0;
}

.jat-page .btn-staff,
.jat-contact .btn-staff {
    color: #fff;
}

.jat-contact h4 {
    margin-top: 4rem;
    margin-bottom: 4rem;
    font-family: inherit;
    font-weight: 500;
    line-height: 1.2;
    color: #005000;
}

.jat-contact .ajax-loader {
    display: block;
    margin-top: 1rem;
}

.jat-contact .form-control {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

#jat-timeline .bb-timeline-both .bb-tmtimeline > li .bb-tmicon {
    width: 45px;
}

#jat timeline .bb-timeline-both .bb-tmtimeline > li:nth-child(odd) .bb-tmtime {
    top: 1rem;
}

#jat-timeline .bb-timeline-both .bb-tmtimeline > li .bb-tmtime {
    top: 1rem;
}

#jat-timeline .bb-tmtimeline-container .bb-tmicon i {
    line-height: 1;
    color: #ffff00;
}

#jat-timeline .bb-tmtimeline-container .bb-tmlabel {
    background-color: #ddf9dd;
}

#jat-timeline .bb-timeline-both .bb-tmtimeline > li .bb-tmlabel:after {
    border-left-color: rgba(221,249,221, 100);
    border-right-color: transparent;
}

#jat-timeline .bb-timeline-both .bb-tmtimeline > li:nth-child(even) .bb-tmlabel:after {
    border-right-color: rgba(221,249,221, 100) !important;
    border-left-color: transparent !important;
}

#jat-timeline .bb-tmlabel-border-bottom {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #000;
}

#jat-timeline .bb-timline-title {
    color: #005000;
}

#jat-timeline .bb-timline-dec {
    color: #000000;
}

.h-row {
    border: 1px solid #005000;
    width: 50%;
}

body.single-players {
    background: #F4F4F4 !important;
}

body.single-players .jumbotron {
    padding: 0;
}

body.single-players .jumbotron img {
    margin: 0 auto;
    display: block;
    max-height: 600px;
}

body.single-players #skills table {
    margin: 0;
}

body.single-players .post-navigation {
    display: none;
}

body.single-players .carousel img {
    max-height: 740px;
    object-fit: contain;
}

.post-thumbnail {
    text-align: center;
}

#jat-carousel .carousel-control-next-icon,
#jat-carousel-controls .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23008000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

#jat-carousel .carousel-control-prev-icon,
#jat-carousel-controls .carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23008000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

#jat-carousel-controls .carousel-control-prev {
    left: -10rem;
}

#jat-carousel-controls .carousel-control-next {
    right: -10rem;
}

.team-page table,
.tax-season table {
  border-collapse: collapse;
  width: 100%;
}

.team-page th,
.team-page td,
.tax-season th,
.tax-season td {
  text-align: center;
  padding: 8px;
}

.team-page tr:nth-child(even),
.tax-season tr:nth-child(even) {
    background-color: #f2f2f2
}

.team-page th,
.tax-season th {
  background-color: #008000;
  color: white;
}

.team-page h2,
.tax-season h2 {
    text-align: center;
    color: #005000;
}

.tax-season .bootstrap-select {
    margin-left: 1rem !important;
}

.tax-season .select-season {
    display: flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 2em;
}

.team-page .player-cards {
    display: flex;
    justify-content: center;
}

.jat-player .tablinks {
    text-overflow: ellipsis;
    overflow: hidden;
}

.section-stats h4 {
    background: green;
    color: #fff !important;
    padding: 1rem 0;
    margin-bottom: 1em !important;
    text-align: center;
}

.spinner-border {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    vertical-align: text-bottom;
    border: .25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spin .75s linear infinite;
    animation: spin .75s linear infinite;
}

.wpcf7-spinner {
    display: block;
    margin-top: 1rem;
}

.fundo {
	position: absolute;
    left: 0;
    bottom: 0;
    width: 3.125rem;
    height: 3.125rem;
    background-color: #005000;
    font-family: "Basis Grotesque Regular",Arial,Helvetica,sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: .3px;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    line-height: 3.4375rem;
    z-index: 1;
}

.nomeJogador {
	font-family: "Basis Grotesque Bold",Arial,Helvetica,sans-serif;
    margin-top: 0;
    padding-top: .625rem;
    z-index: 55;	
	padding-left: 4.0625rem;
	padding: .3125rem 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    bottom: 0;
    left: 4.25rem;
	color: #fff;
	font-size: 1.5rem;
	letter-spacing: 0.3px;
    text-transform: uppercase;
}

.fotoJogador {
    width: 100%;
    height: 340px;
    background-size: cover;
	text-align: center;
    color: white;
    padding: 20px;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: green;
  color: #fff;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


.timeline {
    position: relative;
    margin: 3rem auto 0;
    width: 90%;
}

.timeline ul li {
    margin-bottom: 50px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.point {
    min-width: 20px;
    height: 20px;
    background-color: yellow;
    border-radius: 100%;
    z-index: 2;
    border: 3px #333333 solid;
    position: relative;
    left: 1px;
}

.timeline ul li .content {
    width: 50%;
    padding: 0 20px;
}

.timeline ul li:nth-child(odd) .content {
    padding-left: 0;
}

.timeline ul li:nth-child(odd) .date {
    padding-right: 0;
}

.timeline ul li:nth-child(even) .content {
    padding-right: 0;
}

.timeline ul li:nth-child(even) .date {
    padding-left: 0;
}

.timeline ul li .date {
    width: 50%;
    padding: 0 20px;
    font-weight: normal;
}

.timeline ul li .date h4 {
    background-color: #ddf9dd;
    width: 130px;
    text-align: center;
    padding: 5px 10px;
    border-radius: 10px;
}

.timeline ul li .content h3 {
    padding: 10px 20px;
    background-color: #ddf9dd;
    margin-bottom: 0;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.timeline ul li .content p {
    padding: 10px 20px;
    background-color: #eeffee;
    margin-top: 0;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.timeline ul li:nth-child(even) {
    flex-direction: row-reverse;
}

.timeline ul li:nth-child(even) .date h4 {
    float: right
}

.timeline::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 3px;
    left: 50%;
    background-color: #333333;
}

.hover-zoom {
    overflow: hidden;
}

.hover-zoom img, .hover-zoom video {
    -webkit-transition: opacity .5s ease-out, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    transition: opacity .5s ease-out, transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
    height: 185px;
    object-fit: cover;
}

.hover-zoom:hover img, .hover-zoom:hover video {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

.search .page-title,
.archive .page-title {
    margin: 2rem 0 !important;
    text-align: center;
}

.search .card-body,
.archive .card-body {
    border-bottom: 8px solid green;
}

.entry-title {
    margin: 2rem 0 !important;
}

.entry-meta {
    margin-bottom: 1rem;
}

.entry-content ol,
.entry-content ul {
    margin-left: 0;
}

.entry-content iframe {
    width: 100%;
}

.entry-footer {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.post-navigation {
    display: none;
}

.search-sidebar {
    margin-bottom: 5rem;
}

.entry-sidebar {
    margin: 1.5rem 0 1.5rem;
}

.entry-sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#reply-title,
.comments-title {
    font-size: 1.5rem;
}

.comment-list,
.comment-list ol.children {
    margin: 0;
}

.comment-respond {
    margin-top: 2rem;
}

.jat-news {
    /* max-width: 90% !important;*/
}

.jat-news .card {
    /* max-width: 25%;*/
    cursor: pointer;
}

.jat-news .card-deck,
.h-second .card-deck {
    justify-content: center;
}

.jat-news .card-deck .card,
.h-second .card-deck .card {
    max-width: 400px;
}

.h-second .card {
    cursor: pointer;
}

.highlight-second {
    background: #f7d902;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.list-group.panel > .list-group-item {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    width: 250px;
    background: white;
    color: #666;
    outline: none;
}

.list-group-header {
    background: #f7f7f7 !important;
    display: flex !important;
    justify-content: space-between;
    align-items: center;
}

.list-group-submenu {
    width: 250px;
}

.filter-list {
    background: #339933 !important;
    color: white !important;
    margin-bottom: 0 !important;
}

.strong { font-weight: bold; }

p:empty {
    display: none;
}

.jat-pagination {
    display: flex;
    justify-content: center;
}

.jat-pagination .pagination {
    margin: 2rem 0 4rem 0;
}

#jat-search-input {
    margin: 0;
    margin-bottom: 3rem;
    padding: 0;
}

#jat-search-input .search-query {
    padding-right: 3px;
    padding-right: 4px \9;
    padding-left: 3px;
    padding-left: 4px \9;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

#jat-search-input button {
    border: 0;
    background: none;
    /** belows styles are working good */
    padding: 2px 5px;
    margin-top: 2px;
    position: absolute;
    right: 16px;
    /* IE7-8 doesn't have border-radius, so don't indent the padding */
    margin-bottom: 0;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #009900;
    z-index: 3;
}

.jat-thumb img {
    min-height: 210px;
    object-fit: cover;
}

.no-results.not-found {
    padding: 2rem;
    margin-bottom: 5rem;
    background: #fff;
}

#notfound {
  position: relative;
  height: 60vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
}

.notfound .notfound-404 {
  position: absolute;
  left: 0;
  top: 0;
  height: 150px;
  width: 200px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 238px;
  font-weight: 700;
  margin: 0px;
  color: #00ff00 !important;
  text-transform: uppercase;
  letter-spacing: 7px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50% , -50%);
      -ms-transform: translate(-50% , -50%);
          transform: translate(-50% , -50%);
}

.notfound h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222;
  margin-top: 12px;
  margin-bottom: 15px;
}

.notfound .notfound-search {
  position: relative;
  padding-right: 123px;
  width: 100%;
  margin: 30px 0px 20px;
}

.notfound .notfound-search input {
  font-family: 'Poppins', sans-serif;
  width: 100%;
  height: 40px;
  padding: 3px 15px;
  color: #222;
  font-size: 18px;
  font-weight: 400;
  background: #fff;
  border: 2px solid rgba(21, 23, 35, 0.2);
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound .notfound-search input:focus {
  border-color: #57a3f8;
}

.notfound .notfound-search button {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 120px;
  height: 40px;
  text-align: center;
  border: none;
  cursor: pointer;
  padding: 0;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
}

.notfound a {
  font-family: 'Poppins', sans-serif;
  display: inline-block;
  font-weight: 700;
  border-radius: 15px;
  text-decoration: none;
  color: #fff;
}

.notfound a:hover {
  color: #fff;
}

.notfound a > .arrow {
  position: relative;
  top: -2px;
  border: solid #57a3f8;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(135deg);
      -ms-transform: rotate(135deg);
          transform: rotate(135deg);
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 {
    height: 110px;
    line-height: 110px;
  }

  .notfound .notfound-404 h1 {
    font-size: 170px;
  }

  .notfound h2 {
    font-size: 24px;
  }

  .notfound .notfound-search {
    margin: 10px 0px 20px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    left: 40px;
  }

  .notfound .notfound-404 h1 {
    font-size: 120px;
  }

  .notfound h2 {
    font-size: 18px;
  }
}

@media (min-width: 801px) {
    .search .jat-thumb {
        max-width: 250px;
        align-self: center;
    }
    
    .archive .jat-thumb {
        max-width: 340px;
        align-self: center;
    }

    .search .card,
    .archive .card {
        cursor: pointer;
    }

    .search .card-body,
    .archive .card-body {
        background: #fff;
    }

    .search .card-deck .card,
    .archive .card-deck .card {
        flex-direction: row;
        background: green;
    }
}

@media (max-width: 800px) {
    .point {
        min-width: 15px;
        height: 15px;
    }

    html, body {
        font-size: 15px;
    }
    
    .entry-sidebar {
        display: flex;
        justify-content: center
    }
    
    .search-sidebar {
        order: -1;
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 650px) {
    html, body {
        font-size: 14px;
    }
    
    .point {
        min-width: 12px;
        height: 12px;
    }
    
    .tax-season .select-season {
        align-items: center;
        flex-direction: column;
    }
    
    #jat-timeline .bb-timeline-both .bb-tmtimeline > li .bb-tmlabel:after {
        display: none;
    }
    
    .btn-player {
        margin-bottom: 2rem;
    }
    
    .jat-page .jumbotron {
        display: none;
    }
    
    .jat-player #general p {
        padding-left: 0 !important;
    }
    
    .jat-player #stats h5 {
        font-size: 2rem;
    }
    
    .jat-player #stats .progress {
        height: 1.5rem;
        font-size: 1.4rem;
    }
    
    .jat-player #skills strong.rating {
        font-size: 3rem;
    }
    
    .jat-player,
    .team-page table,
    .tax-season table,
    .tax-season h5,
    .tax-season .btn-ajax {
        font-size: initial;
    }
    
    #jat-timeline-container {
        margin-top: -10rem;
    }
    
    #jat-carousel-controls .carousel-control-prev,
    #jat-carousel-controls .carousel-control-next {
        display: none;
    }
    
    .jat-news {
        /* max-width: 100% !important; */
    }
    
    .jat-news .card {
        /* max-width: 100%; */
    }
}

@media (max-width: 450px) {
    html, body {
        font-size: 10px;
    }

    p {
        padding: 10px !important;
    }
}